node_modules
/.next
/dist
/out

.env*

*.lock
*.log
*.backup
.DS_Store
Thumbs.db
*:Zone.Identifier

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
